/* game.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  .player, .opponent, .deck {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .card .card-value {
    font-size: 24px;
  }
  
  .card .card-suit {
    font-size: 16px;
    color: #888;
  }
  
  .face-up {
    background-color: #ffcc00; /* Color de fondo de la carta boca arriba */
  }
  
  h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
  }
  

.puntuacion {
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: #333; /* Color del texto */
  margin-bottom: 10px; /* Margen inferior para separación */
}

.scoreboard {
  background-color: red;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

.deck {
  margin-bottom: 2rem;
}